<div class="home-wrapper">
  <!-- <img
    class="squiggly-1"
    ngSrc="/assets/llline.svg"
    width="200"
    height="200"
    alt="squiggly"
  /> -->
  <img
    class="image-background"
    ngSrc="/assets/aaabstract.webp"
    width="200"
    height="200"
    alt="background-image"
    priority
  />
  <div class="hero-wrapper">
    <h1>Find your next Fit</h1>
    <button type="button" class="fit-button" [routerLink]="['fits']">
      Go to Fits
    </button>
  </div>
</div>
<section>
  <h1>New section</h1>
</section>
<section>
  <h1>New section</h1>
</section>
<section>
  <h1>New section</h1>
</section>
